body{
    background-color: #dcdcdb;
    margin: 0;
        
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    color: white;
    text-decoration:none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    transition: color 1s ease, transform 1s ease;
}

header li {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    
}

header li a:hover {
    color:#FD3F92;
    transform: scale(1.5);
    
}

h1{
    color: #FD3F92;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-decoration:overline;
}

h2{
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    font-size: 16px;
}

.formation {
    text-align: center;}

p{ 
    text-align: center;
    font-family: sans-serif;
}

.image-center {
    text-align:center;
}

footer {
    color: white;
    text-decoration:none;
    background-color: grey;
    padding-bottom: 20px;
    
}

footer li {
    display: inline-block;
    width: 33%;
    text-align: center;
}


footer li a{
    background-color: grey;
    display: inline-block;
    height:39px;
    width:39px;
    padding:5px;
    padding-top:7px;
    transition: color 1s ease, transform 1s ease;
}

footer li a:hover {
    color:#FD3F92;
    transform: scale(1.5);   
}

h3 .icon-title {
    margin-left: 20px;
    margin-top: 30px;
}

.mail {
    position: relative;
    bottom: 15px;}

main li {
    display: inline-block;
    text-align: center;
    width: 19%;
    margin-top: 50px;
    }

.logo {
    display: inline-block;
    width: 100%;
    text-align: center;
    
    
    }
    